html
	head
		title='Docket Repo'
		link(rel='stylesheet', href='')
	body
		div.container
			div.jumbotron
				h1 Hello Gittest
				p Click me
					a.btn.btn-primary(href="http://intechwetrustpodcast.com") Podcast
				p